@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

@layer base {
    :root {
        --background: oklch(0.99 0.01 56.32);
        --foreground: oklch(0.34 0.01 2.77);
        --card: oklch(1.00 0 0);
        --card-foreground: oklch(0.34 0.01 2.77);
        --popover: oklch(1.00 0 0);
        --popover-foreground: oklch(0.34 0.01 2.77);
        --primary: oklch(0.74 0.16 34.71);
        --primary-foreground: oklch(1.00 0 0);
        --secondary: oklch(0.96 0.02 28.90);
        --secondary-foreground: oklch(0.56 0.13 32.74);
        --muted: oklch(0.97 0.02 39.40);
        --muted-foreground: oklch(0.55 0.01 58.07);
        --accent: oklch(0.83 0.11 58.00);
        --accent-foreground: oklch(0.34 0.01 2.77);
        --destructive: oklch(0.61 0.21 22.24);
        --destructive-foreground: oklch(1.00 0 0);
        --border: oklch(0.93 0.04 38.69);
        --input: oklch(0.93 0.04 38.69);
        --ring: oklch(0.74 0.16 34.71);
        --chart-1: oklch(0.74 0.16 34.71);
        --chart-2: oklch(0.83 0.11 58.00);
        --chart-3: oklch(0.88 0.08 54.93);
        --chart-4: oklch(0.82 0.11 40.89);
        --chart-5: oklch(0.64 0.13 32.07);
        --sidebar: oklch(0.97 0.02 39.40);
        --sidebar-foreground: oklch(0.34 0.01 2.77);
        --sidebar-primary: oklch(0.74 0.16 34.71);
        --sidebar-primary-foreground: oklch(1.00 0 0);
        --sidebar-accent: oklch(0.83 0.11 58.00);
        --sidebar-accent-foreground: oklch(0.34 0.01 2.77);
        --sidebar-border: oklch(0.93 0.04 38.69);
        --sidebar-ring: oklch(0.74 0.16 34.71);
        --font-sans: Montserrat, sans-serif;
        --font-serif: Merriweather, serif;
        --font-mono: Ubuntu Mono, monospace;
        --radius: 0.625rem;
        --shadow-2xs: 0px 6px 12px -3px hsl(0 0% 0% / 0.04);
        --shadow-xs: 0px 6px 12px -3px hsl(0 0% 0% / 0.04);
        --shadow-sm: 0px 6px 12px -3px hsl(0 0% 0% / 0.09), 0px 1px 2px -4px hsl(0 0% 0% / 0.09);
        --shadow: 0px 6px 12px -3px hsl(0 0% 0% / 0.09), 0px 1px 2px -4px hsl(0 0% 0% / 0.09);
        --shadow-md: 0px 6px 12px -3px hsl(0 0% 0% / 0.09), 0px 2px 4px -4px hsl(0 0% 0% / 0.09);
        --shadow-lg: 0px 6px 12px -3px hsl(0 0% 0% / 0.09), 0px 4px 6px -4px hsl(0 0% 0% / 0.09);
        --shadow-xl: 0px 6px 12px -3px hsl(0 0% 0% / 0.09), 0px 8px 10px -4px hsl(0 0% 0% / 0.09);
        --shadow-2xl: 0px 6px 12px -3px hsl(0 0% 0% / 0.22);
        --shadow-color: hsl(0 0% 0%);
        --shadow-opacity: 0.09;
        --shadow-blur: 12px;
        --shadow-spread: -3px;
        --shadow-offset-x: 0px;
        --shadow-offset-y: 6px;
        --letter-spacing: 0em;
        --spacing: 0.25rem;
        --tracking-normal: 0em;
    }
    .dark {
        --background: oklch(0.26 0.02 352.40);
        --foreground: oklch(0.94 0.01 51.32);
        --card: oklch(0.32 0.02 341.45);
        --card-foreground: oklch(0.94 0.01 51.32);
        --popover: oklch(0.32 0.02 341.45);
        --popover-foreground: oklch(0.94 0.01 51.32);
        --primary: oklch(0.74 0.16 34.71);
        --primary-foreground: oklch(1.00 0 0);
        --secondary: oklch(0.36 0.02 342.27);
        --secondary-foreground: oklch(0.94 0.01 51.32);
        --muted: oklch(0.32 0.02 341.45);
        --muted-foreground: oklch(0.84 0.02 52.63);
        --accent: oklch(0.83 0.11 58.00);
        --accent-foreground: oklch(0.26 0.02 352.40);
        --destructive: oklch(0.61 0.21 22.24);
        --destructive-foreground: oklch(1.00 0 0);
        --border: oklch(0.36 0.02 342.27);
        --input: oklch(0.36 0.02 342.27);
        --ring: oklch(0.74 0.16 34.71);
        --chart-1: oklch(0.74 0.16 34.71);
        --chart-2: oklch(0.83 0.11 58.00);
        --chart-3: oklch(0.88 0.08 54.93);
        --chart-4: oklch(0.82 0.11 40.89);
        --chart-5: oklch(0.64 0.13 32.07);
        --sidebar-background: 240 5.9% 10%;
        --sidebar-foreground: oklch(0.94 0.01 51.32);
        --sidebar-primary: oklch(0.74 0.16 34.71);
        --sidebar-primary-foreground: oklch(1.00 0 0);
        --sidebar-accent: oklch(0.83 0.11 58.00);
        --sidebar-accent-foreground: oklch(0.26 0.02 352.40);
        --sidebar-border: oklch(0.36 0.02 342.27);
        --sidebar-ring: oklch(0.74 0.16 34.71);
        --radius: 0.625rem;
        --sidebar: oklch(0.26 0.02 352.40);
        --font-sans: Montserrat, sans-serif;
        --font-serif: Merriweather, serif;
        --font-mono: Ubuntu Mono, monospace;
        --shadow-color: hsl(0 0% 0%);
        --shadow-opacity: 0.09;
        --shadow-blur: 12px;
        --shadow-spread: -3px;
        --shadow-offset-x: 0px;
        --shadow-offset-y: 6px;
        --letter-spacing: 0em;
        --spacing: 0.25rem;
        --shadow-2xs: 0px 6px 12px -3px hsl(0 0% 0% / 0.04);
        --shadow-xs: 0px 6px 12px -3px hsl(0 0% 0% / 0.04);
        --shadow-sm: 0px 6px 12px -3px hsl(0 0% 0% / 0.09), 0px 1px 2px -4px hsl(0 0% 0% / 0.09);
        --shadow: 0px 6px 12px -3px hsl(0 0% 0% / 0.09), 0px 1px 2px -4px hsl(0 0% 0% / 0.09);
        --shadow-md: 0px 6px 12px -3px hsl(0 0% 0% / 0.09), 0px 2px 4px -4px hsl(0 0% 0% / 0.09);
        --shadow-lg: 0px 6px 12px -3px hsl(0 0% 0% / 0.09), 0px 4px 6px -4px hsl(0 0% 0% / 0.09);
        --shadow-xl: 0px 6px 12px -3px hsl(0 0% 0% / 0.09), 0px 8px 10px -4px hsl(0 0% 0% / 0.09);
        --shadow-2xl: 0px 6px 12px -3px hsl(0 0% 0% / 0.22);
    }
    .theme {
        --font-sans: Montserrat, sans-serif;
        --font-mono: Ubuntu Mono, monospace;
        --font-serif: Merriweather, serif;
        --radius: 0.625rem;
        --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
        --tracking-tight: calc(var(--tracking-normal) - 0.025em);
        --tracking-wide: calc(var(--tracking-normal) + 0.025em);
        --tracking-wider: calc(var(--tracking-normal) + 0.05em);
        --tracking-widest: calc(var(--tracking-normal) + 0.1em);
    }
    body {
        letter-spacing: var(--tracking-normal);
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}

.skeleton {
    * {
        pointer-events: none !important;
    }

    *[class^="text-"] {
        color: transparent;
        @apply rounded-md select-none animate-pulse;
        background-color: rgb(var(--foreground) / 0.2);
    }

    .skeleton-bg {
        background-color: rgb(var(--foreground) / 0.1);
    }

    .skeleton-div {
        background-color: rgb(var(--foreground) / 0.2);
        @apply animate-pulse;
    }
}

.ProseMirror {
    outline: none;
}

.cm-editor,
.cm-gutters {
    @apply bg-background dark:bg-zinc-800 outline-none selection:bg-zinc-900 !important;
}

.ͼo.cm-focused > .cm-scroller > .cm-selectionLayer .cm-selectionBackground,
.ͼo.cm-selectionBackground,
.ͼo.cm-content::selection {
    @apply bg-zinc-200 dark:bg-zinc-900 !important;
}

.cm-activeLine,
.cm-activeLineGutter {
    @apply bg-transparent !important;
}

.cm-activeLine {
    @apply rounded-r-sm !important;
}

.cm-lineNumbers {
    @apply min-w-7;
}

.cm-foldGutter {
    @apply min-w-3;
}

.cm-lineNumbers .cm-activeLineGutter {
    @apply rounded-l-sm !important;
}

.suggestion-highlight {
    @apply bg-blue-200 hover:bg-blue-300 dark:hover:bg-blue-400/50 dark:text-blue-50 dark:bg-blue-500/40;
}